*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
   background: rgb(243, 240, 240); 
}


main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 90%;
    max-width: 400px;
    border-radius: 10px;    
}

div#menu-login{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
    margin: fit-content;
    height: 100%;
    width: 100%;
}

div#container{
    display: flex;
    flex-direction: row;
}

#menu-login a{
    text-decoration: none;
    color: black;
}

div#menu-login p{
    padding: 10px;
    transition: 0.3s;
    text-align: center;
}

a.entrar:hover p{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

a.cadastro:hover p{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

div#cadastro{
    display: grid;
    gap: 20px;
    padding: 30px;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(7, 7, 7, 0.45);
    border-right: none;
}

div#cadastro form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


div#cadastro form>label{
    text-align: start;
}

div#cadastro form>input{
    border-radius: 10px;
    padding: 5px;

}

div#cadastro form>button{
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 8px;
    width: 100px;
    align-self: center;
    transition: 0.3s;
}

div#cadastro form > button:hover{
    background-color: #333;
}

div#cadastro form a{
    text-decoration: none;
}

div#verificacao form p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}

div#entrar{
    display: grid;
    padding: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(7, 7, 7, 0.45);
}

div#entrar form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div#entrar form>input{
    border-radius: 10px;
    padding: 5px;
}

div#entrar form>button{
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 8px;
    width: 100px;
    align-self: center;
    transition: 0.3s;
}

div#entrar form a{
    text-decoration: none;
}