*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
   background: rgb(243, 240, 240); 
}


main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 90%;
    max-width: 400px;   
}
#container{
    margin: auto;
    border: none;
}

div#menu-login{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

div#container{
    display: grid;
    gap: 10px;
    padding: 30px;
}

#menu-login a{
    text-decoration: none;
    color: black;
}

div#menu-login p{
    padding: 10px;
    transition: 0.3s;
    text-align: center;
}

.entrar{
    font-weight: bold;
    border-bottom: 1px solid black;
}

.cadastro{
    font-weight: bold;
    border-bottom: 1px solid black;
}

div#cadastro{
    display: grid;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(7, 7, 7, 0.45);
    border-right: none;
}

div#cadastro form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


div#cadastro form>label{
    text-align: start;
}

div#cadastro form>input{
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(7, 7, 7, 0.45);
}

div#cadastro form>button{
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 8px;
    width: 100px;
    margin: 10px 0px;
    align-self: center;
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgba(7, 7, 7, 0.45);
}

div#cadastro form > button:hover{
    background-color: #333;
}

div#cadastro form a{
    text-decoration: none;
}

div#verificacao form p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    margin: 10px 0px;
}

div#entrar{
    display: grid;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(7, 7, 7, 0.45);
}

div#entrar form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div#entrar form>input{
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(7, 7, 7, 0.45);
}

div#entrar form>button{
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 8px;
    width: 100px;
    align-self: center;
    transition: 0.3s;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(7, 7, 7, 0.45);
}

div#entrar form a{
    text-decoration: none;
    margin: 10px 0px;
}