*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;

}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;

    position: sticky;
    /*top: 0;
    z-index: 10;*/
}


#icone-menu i{
    color: #1e1e1e;
    background-color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

nav#cabecalho{
    display: flex;
    align-items: center;

}

nav#cabecalho ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li i{
    color: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    background-color: white;
}

button i{
    color: #1e1e1e;
    cursor: pointer;
    font-weight: lighter;
}

nav#cabecalho a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px;
}

nav#cabecalho a:hover{
    color: #00bcd4;
}


main{
    background-color:white;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

section#foto-inicio{
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#foto-inicio{
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../imagens/imagem.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 89vh;
}


article#descricao{
    background-color:rgba(119,106,98,0.5);
    box-shadow: 0px 0px 10px rgba(7, 7, 7, 0.45);

    margin: 30px;
    width:90%;
    max-width: 600px;
    padding: 10px;
}

div#setas{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 20px;
}

div#setas i{
    color: #1e1e1e;
    font-size: 1.5rem;
    cursor: pointer;
}

section#categorias{
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

section#categorias article{
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 11px;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#categorias article::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    transition: background 0.3s ease;
}

section#categorias article:hover::before{
    background: rgba(0,0,0,0.6);
}

section#categorias article:hover{
    transform: translateY(-5px);
}

section#categorias article p{
    position: relative;
    z-index: 2;
    color: white;
    font-weight: bold;
}

article#cat-homem{
    background: url(../imagens/pexels-alexandro-david-871783-1808492.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#cat-homem p,#cat-mulher p,#cat-crianca p,#cat-acessorio p{
    color:white;
    font-size:1rem;
    font-weight: bold;
}  

article#cat-mulher{
    background: url(../imagens/pexels-brandon-retratos-768594541-36241939.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

article#cat-crianca{
    background: url(../imagens/pexels-olia-danilevich-6349542.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

article#cat-acessorio{
    background: url(../imagens/pexels-harper-sunday-2986445.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

section#trending{
    margin: 10px;
    border: solid black;
}

#slider{
    margin: 10px;
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button.setas{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38vh;
    width: 33px;
    background-color: gray;
    cursor: pointer;
}


#trending-tops{
    margin:10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

#trending-tops article{
    padding: 180px 160px 180px 160px;
    cursor: pointer;
    
    transition: transform 1s ease,box-shadow 0.3s;
}

#pontos{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pontos span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 5px;
    cursor: pointer;
}

span#ponto1{
    background-color: darkblue;
}
.top1{
    background: url(../imagens/pexels-brandon-retratos-768594541-36241939.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.top2{
    background: url(../imagens/pexels-olia-danilevich-6349542.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.top3{
    background: url(../imagens/pexels-harper-sunday-2986445.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

footer{
    background-color: #1e1e1e;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    padding: 10px;
    background-attachment: fixed;
    color: white;
}




