*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;

}

header{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    position: sticky;
    top: 0;
    z-index: 10;
}

header>button#menu{
    padding: 10px;
}

nav#cabecalho{
    display: flex;
    align-items: center;

}

nav#cabecalho ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

ul form>input{
    border-radius: 10px;
    padding: 4px;
}

nav#cabecalho a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px;
}

nav#cabecalho a:hover{
    color: #00bcd4;
}


main{
    background-color:white;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

section#foto-inicio{
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#foto-inicio{
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../imagens/imagem.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 89vh;
}


article#descricao{
    background-color:rgba(119,106,98,0.5);
    box-shadow: 0px 0px 10px rgba(7, 7, 7, 0.45);

    width:90%;
    max-width: 600px;
    padding: 10px;
}

section#categorias{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: space-evenly;
}

section#categorias article{
    border-radius: 10px;
    padding: 80px 200px 80px 200px;
    cursor: pointer;
    
    transition: transform 1s ease,box-shadow 0.3s;
}

section#categorias article:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}  

article#cat-homem{
    background: url(../imagens/pexels-alexandro-david-871783-1808492.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

  

article#cat-mulher{
    background: url(../imagens/pexels-brandon-retratos-768594541-36241939.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

article#cat-crianca{
    background: url(../imagens/pexels-olia-danilevich-6349542.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

article#cat-acessorio{
    background: url(../imagens/pexels-harper-sunday-2986445.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

footer{
    background-color: darkgray;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    padding: 10px;
    background-attachment: fixed;
}




