@charset "UTF-8";

*{
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0px;
    z-index: 1;
}

nav#links{
    display: flex;
    flex-direction: row;
}

nav#links ul{
    list-style: none;
    display: flex;
    gap:10px
}

nav#links a{
    text-decoration: none;
    color: white;
}

nav#links a:hover{
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(177, 177, 194);
    transition: 1ms;
}

main{
    position: relative;
    margin: 10px;
    background-color: aquamarine;
}

footer{
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index: 1;
}

footer ul{
    list-style: none;
}

ul a{
    text-decoration: none;
    color: white;
}

ul a:hover{
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(177, 177, 194);
    transition: 1ms;
}