@charset "UTF-8";

*{
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

div#cabecalho{
    display: flex;
    margin: 5px;
    padding: 10px 10px 0px 0px;
}

nav#links{
    align-items: flex-end;
    justify-content: flex-start;
}

main{
    height: 400px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}